<div class="row">
  <div class="col">
    <h1>Books</h1>
    <% @books.each do |book| %>
      <p><%= link_to book.title, book %></p>
    <% end %>
  </div>

  <div class="col">
    <h1>Cars</h1>
    <% @cars.each do |car| %>
      <p><%= link_to car.vin, car %></p>
    <% end %>
  </div>
</div>
