<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin, id: :car_vin %>
  </div>

  <div class="field">
    <%= form.label :manufacture %>
    <%= form.text_field :manufacture, id: :car_manufacture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
