<!DOCTYPE html>
<html>
  <head>
    <title>EasyAutocomplete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/4.0.0-alpha.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/easy-autocomplete/1.3.5/easy-autocomplete.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/g/bootstrap@4.0.0-alpha.6(js/bootstrap.min.js+js/bootstrap.js)"></script>
    <script src="https://cdn.bootcss.com/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
